<div *ngIf="node.node.data.nodeId === 1 else childnode">
    <mat-card class="node_root_box" (contextmenu)="onRightClick($event, {content: 0})">
      <h1 class="node_root_designation">root</h1>
    </mat-card>
  </div>
  
  <ng-template #childnode>
    <mat-card class="node_box" (contextmenu)="onRightClick($event, {content: node.node.id})">
      <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-container"
      (cdkDropListDropped)="drop($event)"
      >
         <h1 class="node_designation">{{node.node.label}}</h1>

         <div
         class="example-list"
           >
           <div class="example-box" *ngFor="let item of done">{{item.name}}</div>
         </div>
      </div>
    </mat-card>
  </ng-template>
  
  
  <div style="visibility: hidden; position: fixed;" 
  [style.left]="menuTopLeftPosition.x" 
  [style.top]="menuTopLeftPosition.y" 
  [matMenuTriggerFor]="rightMenu"></div> 
  
  
  <mat-menu #rightMenu="matMenu"> 
    <ng-template matMenuContent let-item="item"> 
      <button mat-menu-item (click)="opendialoge({node:node})">Create Child Node</button>
    </ng-template> 
  </mat-menu> 
  