<div class="navbar-container">
    <mat-sidenav-container class="navbar-sidenav-container">

        <!-- side navbar -->
        <mat-sidenav mode="side" opened>
            <div>
                <button mat-button  mat-stroked-button color="basic" style="width:100%">
                    <mat-icon>keyboard_backspace</mat-icon>
                    Go Back to the Organization
                  </button>
            </div>
            
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
                <!-- This is the tree node template for leaf nodes -->
                <!-- There is inline padding applied to this node using styles. -->

                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="treeNodes"
                (contextmenu)="onRightClick($event, {node})">
                    <!-- Files -->
                    <mat-icon *ngIf="node.hasparent" class="type-icon">filter_frames</mat-icon>
                   

                    <span class="prevent-select">{{node.name}}</span>
                </mat-tree-node>

                <!-- This is the tree node template for expandable nodes -->
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">

                    <!--  -->
                    <div class="mat-tree-node treeNodes" matTreeNodeToggle 
                        title="{{node.name === 'root' ? 'root' : node.path+'/'+node.name}}"
                        (contextmenu)="onRightClick($event, {node})">
                        <!-- ************************************************************************************************* -->
                        <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name" class="saif-fixing ">
                            <mat-icon class="mat-icon-rtl-mirror ">
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        <!-- ************************************************************************************************* -->

                        <!-- Folder Name -->
                        <mat-icon *ngIf="node.name=='root'">stars</mat-icon>
                        <mat-icon *ngIf="node.name !='root'" class="folder-files-icon">developer_board</mat-icon>
                        <span class="prevent-select">{{node.name}}</span>
                    </div>

                    <!-- There is inline padding applied to this div using styles.
                    This padding value depends on the mat-icon-button width.  -->
                    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </div>
                </mat-nested-tree-node>
            </mat-tree>



             <!-- an hidden div is created to set the position of appearance of the menu-->
             <div style="visibility: hidden; position: fixed;" [style.left.px]="menuTopLeftPosition.x"
             [style.top.px]="menuTopLeftPosition.y" [matMenuTriggerFor]="rightMenu"></div>


         <!-- standard material menu -->
         <mat-menu #rightMenu="matMenu">
             <ng-template matMenuContent let-item="item">

                 <!-- This 'Hide' button is created to handle the default selection -->
                 <button style='display: none;' mat-menu-item
                     >Hide</button>
                 <button  mat-menu-item (click)="openDialoge({node:item.node,action:'create',datasource:this.TREE_DATA})"
                     >Add Sub Department</button>
                 <button  mat-menu-item (click)="openDialoge({node:item.node,action:'remove',datasource:this.TREE_DATA})"
                     >Remove Department</button>
                 <button  mat-menu-item (click)="openDialoge({node:item.node,action:'update',datasource:this.TREE_DATA})"
                     >Rename Sub Department</button>
                 <button  mat-menu-item (click)="showDesignationHeirarchy({node:item.node},true)"
                     >Show Designation Hierarchy</button>
                 <button  mat-menu-item (click)="showUserHeirarchy({node:item.node},true)"
                     >Show User Hierarchy</button>

                 
             </ng-template>
         </mat-menu>

        </mat-sidenav>


        <!-- main content -->
        <mat-sidenav-content class="sidenav-content">
            <!-- <mat-progress-bar color="accent" mode="indeterminate" *ngIf="valueSharingService.isSpinning | async">
            </mat-progress-bar> -->
            <!-- <mat-spinner class="spinner" *ngIf="valueSharingService.isSpinning | async"></mat-spinner> -->
            <div class="container-fluid">
                <!-- <button mat-stroked-button mat-button (click)="addNewTab('Test_A')" color="warn">Add Test A File Tab</button>
            <button mat-stroked-button mat-button (click)="addNewTab('Test_B')" color="warn">Add Test B File Tab</button> -->
            <div *ngIf="showOrganogram"> 
              <div class="Header-container">
                <div class="header-title">
                  <h2>Designation Organogram</h2>
                </div>
              </div>

              <div style="display: flex; justify-content: space-between; gap: 40px;" cdkDropListGroup>
                    <div style="flex: 1 1 200px;">
                        <!-- <div style="display: flex; justify-content: space-between; gap: 20px;"> -->
                        <!-- <div style="display: flex; justify-content: space-between; gap: 20px;">
                  
                        <div style="flex: 1 1 auto;" class="mat-elevation-z8">
                          <app-tree-node [node]="{id:1,role:'Sr.Engr'}"></app-tree-node>
                        </div>
                  
                        <div style="flex: 1 1 auto;" class="mat-elevation-z8">
                          <app-tree-node [node]="{id:2,role:'Jr.Engr'}"></app-tree-node>
                        </div>
                  
                        <div style="flex: 1 1 auto;" class="mat-elevation-z8">
                          <app-tree-node [node]="{id:3,role:'Engr'}"></app-tree-node>
                        </div>
                  
                      </div> -->
                     
                        <app-tree-diagram [departmentTreeList] = "treeNode" [departmentName]="departmentName"></app-tree-diagram>
                      
                        
                         <!-- </div> -->
                    </div>
                    <!-- <div class="example-container" style="flex: 1 1 100px;">
                        <h2>User List</h2>
                        <div
                          cdkDropList
                          [cdkDropListData]="todo"
                          class="example-list"
                          (cdkDropListDropped)="drop($event)">
                          <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item.name}}</div>
                        </div>
                    </div> -->
              
               
                   
              </div>
            </div>


            <div *ngIf="showUserOrganogram"> 
                <div class="Header-container">
                  <div class="header-title">
                    <h2>User Organogram</h2>
                  </div>
                </div>
  
                <div style="display: flex; justify-content: space-between; gap: 40px;" cdkDropListGroup>
                      <div style="flex: 1 1 200px;">
                          <!-- <div style="display: flex; justify-content: space-between; gap: 20px;"> -->
                          <!-- <div style="display: flex; justify-content: space-between; gap: 20px;">
                    
                          <div style="flex: 1 1 auto;" class="mat-elevation-z8">
                            <app-tree-node [node]="{id:1,role:'Sr.Engr'}"></app-tree-node>
                          </div>
                    
                          <div style="flex: 1 1 auto;" class="mat-elevation-z8">
                            <app-tree-node [node]="{id:2,role:'Jr.Engr'}"></app-tree-node>
                          </div>
                    
                          <div style="flex: 1 1 auto;" class="mat-elevation-z8">
                            <app-tree-node [node]="{id:3,role:'Engr'}"></app-tree-node>
                          </div>
                    
                        </div> -->
                       
                          <app-user-tree-diagram [userRoleList]="userTreeNode"  [departmentName]="departmentName"></app-user-tree-diagram>
                        
                          
                           <!-- </div> -->
                      </div>
                      <div class="example-container" style="flex: 1 1 100px;">
                          <h2>User List</h2>
                          <div
                            cdkDropList
                            [cdkDropListData]="todo"
                            class="example-list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item.name}}</div>
                          </div>
                      </div>
                
                 
                     
                </div>
              </div>
              
              
              
            </div>

            
        </mat-sidenav-content>
      <!-- main content -->



    </mat-sidenav-container>     
</div>
