<div>
    <mat-card-content class="mat-elevation-z8" style="display:flex; margin: 20px; align-items: center;">
        <mat-card-actions style="margin: 15px;">
            <button mat-button mat-raised-button color="warn" disabled="{{buttonDisabled}}" class="field-type-btn" (click)="openDialog()">
                <mat-icon 
                    style="background-color: #ffffff; color: red; border-radius: 50%; margin: 10px ; align-items: center;">
                    add</mat-icon> Input
                Field
            </button>
        </mat-card-actions>
        <mat-card-actions  style="margin: 15px;">
            <button mat-button mat-raised-button color="warn" disabled="{{buttonDisabled}}"  class="field-type-btn" >
                <mat-icon
                    style="background-color: #ffffff; color: red; border-radius: 50%; margin: 10px ; align-items: center;">
                    add</mat-icon> Output
                Field
            </button>
        </mat-card-actions>
        <mat-card-actions  style="margin: 15px;">
            <button mat-button mat-raised-button color="warn" disabled="{{buttonDisabled}}"  class="field-type-btn" >
                <mat-icon
                    style="background-color: #ffffff; color: red; border-radius: 50%; margin: 10px ; align-items: center;">
                    add</mat-icon>Report
            </button>
        </mat-card-actions>

    </mat-card-content>

</div>


<mat-card>
    <mat-card-content>

        <div style="padding: 50px 0px; margin: 10px;">

            <div *ngIf="!formFieldData else editblock">
                <button mat-icon-button color="warn" class="icon-float-right" (click)="createFormField()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <ng-template #editblock>
                <div *ngIf="!this.editformFieldData">
                    <button  mat-icon-button color="warn" class="icon-float-right" (click)="enableEditForm()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div *ngIf="this.editformFieldData">
                    <button  mat-icon-button color="warn" class="icon-float-right" (click)="enableEditForm()">
                        <mat-icon>check</mat-icon>
                    </button>
                </div>
            </ng-template>

            <div *ngIf="formFieldData" class="form-info-panel">


                <form>
                    <div *ngFor="let control of formdata">
                        <div style="display: flex;">
                         <app-input-type-control [control]="control" [form]="form" style="width:90%;"></app-input-type-control>
                         <button mat-icon-button color="warn" (click)="delete(control)" class="field-delete-btn" [ngStyle]="this.editformFieldData ? {'display':'block'} : {'display':'none'}">
                            <mat-icon>delete</mat-icon>
                        </button>
                        </div>
                    </div>
                </form>


                <div mat-card-actions class="form-submit-btn">
                    <button mat-button [disabled]="!form || !form.valid" (click)="submit()"  mat-raised-button color="warn">Submit</button>
                </div>
            </div>


           
        </div>


    </mat-card-content>
</mat-card>